
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hiddenError{
    display: none;
}
.formContainer{
    height: 500px;
    width: 320px;
    margin: 10%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #424261;
}
.inputContainer{
    position: relative;
    height: 50px;
    width: 100%;
}
.ic1{
    margin-top: 40px;
}
.ic2{
    margin-top: 85px;

}
.input{
    padding: 4px 20px 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 12px;
    outline: 0;
    background-color: #5e5e8b;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}
#formTitle{
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: bold;
}
#btn{
    margin-top: 85px;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    border: 0;
    outline: 0;
    cursor: pointer;
    text-align: center;
    background-color: #4f4fd2;
    color: #fff;
    font-size: 1.2rem;
}
#em_email{
    font-size: 1rem;
    font-weight: bold;
    color: #0b0b0b;
    text-shadow: #fff 1px 0 10px;
}
#em_password{
    font-size: 1rem;
    font-weight: bold;
    color: #0b0b0b;
    text-shadow: #fff 1px 0 10px;
}